img{
    width:200px;
    height: 200px;
 
}

section{
 margin: 10px 20px;
 border: solid rgba(129, 128, 127, 0.904) 1px;
 padding: 10px;
 float: left;
 border-spacing: 10px;
border-radius: 10px;

}

footer{
    clear: both;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: cadetblue;
    padding-top: 25px ;
}

header{
    /* display: flex;
  justify-content: center; */
    margin:50px;
    align-items: center;
    text-align: center;
}

